---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Politique de confidentialité">
	<main>
		<h1>
			POLITIQUE DE CONFIDENTIALITÉ DU SITE :
			<br /><br />
			Replikas
			<br /><br /><br />
			ARTICLE 1 : PRÉAMBULE
		</h1>
		<br /><br />
		Cette politique de confidentialité s'applique au site : https://replikas.gasdev.fr
		<br /><br />
		La présente politique de confidentialité a pour but d'exposer aux utilisateurs
		du site :
		<ul>
			<li>
				La manière dont sont collectées et traitées leurs données à caractère
				personnel. Doivent être considérées comme données personnelles toutes
				les données étant susceptibles d'identifier un utilisateur. Il s'agit
				notamment du prénom et du nom, de l'âge, de l'adresse postale, l'adresse
				mail, la localisation de l'utilisateur ou encore son adresse IP ;
			</li>
			<li>Quels sont les droits des utilisateurs concernant ces données ;</li>
			<li>
				Qui est responsable du traitement des données à caractère personnel
				collectées et traitées ;
			</li>
			<li>A qui ces données sont transmises ;</li>
			<li>
				Eventuellement, la politique du site en matière de fichiers "cookies".
			</li>
		</ul>
		<br />
		Cette politique de confidentialité complète les mentions légales et les Conditions
		Générales d'Utilisation que les utilisateurs peuvent consulter à l'adresse ci-après
		:
		<br />
		https://replikas.gasdev.fr/CGU
		<br /><br />
		<h1>
			ARTICLE 2 : PRINCIPES GÉNÉRAUX EN MATIÈRE DE COLLECTE ET DE TRAITEMENT DE
			DONNÉES
		</h1>
		<br />
		Conformément aux dispositions de l'article 5 du Règlement européen 2016/679,
		la collecte et le traitement des données des utilisateurs du site respectent
		les principes suivants :
		<br />
		<ul>
			<li>
				Licéité, loyauté et transparence : les données ne peuvent être
				collectées et traitées qu'avec le consentement de l'utilisateur
				propriétaire des données. A chaque fois que des données à caractère
				personnel seront collectées, il sera indiqué à l'utilisateur que ses
				données sont collectées, et pour quelles raisons ses données sont
				collectées ;
			</li>
			<li>
				Finalités limitées : la collecte et le traitement des données sont
				exécutés pour répondre à un ou plusieurs objectifs déterminés dans les
				présentes conditions générales d'utilisation ;
			</li>
			<li>
				Minimisation de la collecte et du traitement des données : seules les
				données nécessaires à la bonne exécution des objectifs poursuivis par le
				site sont collectées ;
			</li>
			<li>
				Conservation des données réduites dans le temps : les données sont
				conservées pour une durée limitée, dont l'utilisateur est informé.
				Lorsque cette information ne peut pas être communiquée, l'utilisateur
				est informé des critères utilisés pour déterminer la durée de
				conservation ;
			</li>
			<li>
				Intégrité et confidentialité des données collectées et traitées : le
				responsable du traitement des données s'engage à garantir l'intégrité et
				la confidentialité des données collectées.
			</li>
		</ul>
		Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement
		européen 2016/679, la collecte et le traitement des données à caractère personnel
		ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après
		énumérées :
		<ul>
			<li>L'utilisateur a expressément consenti au traitement ;</li>
			<li>Le traitement est nécessaire à la bonne exécution d'un contrat ;</li>
			<li>Le traitement répond à une obligation légale ;</li>
			<li>
				Le traitement s'explique par une nécessité liée à la sauvegarde des
				intérêts vitaux de la personne concernée ou d'une autre personne
				physique ;
			</li>
			<li>
				Le traitement peut s'expliquer par une nécessité liée à l'exécution
				d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité
				publique ;
			</li>
			<li>
				Le traitement et la collecte des données à caractère personnel sont
				nécessaires aux fins des intérêts légitimes et privés poursuivis par le
				responsable du traitement ou par un tiers.
			</li>
		</ul>
		<br />
		<h1>
			ARTICLE 3 : DONNÉES À CARACTÈRE PERSONNEL COLLECTÉES ET TRAITÉES DANS LE
			CADRE DE LA NAVIGATION SUR LE SITE
		</h1>
		<br />
		A. DONNÉES COLLECTÉES ET TRAITÉES ET MODE DE COLLECTE
		<br /><br />
		Les données à caractère personnel collectées sur le site Replikas sont les suivantes
		:
		<br />
		Nom
		<br />
		Prénom
		<br />
		Adresse e-mail
		<br />
		Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations
		suivantes sur le site :
		<br />
		Création d'un compte
		<br />
		Par ailleurs, lors d'un paiement sur le site, il sera conservé dans les systèmes
		informatiques de l'éditeur du site une preuve de la transaction comprenant le
		bon de commande et la facture.
		<br />
		Le responsable du traitement conservera dans ses systèmes informatiques du site
		et dans des conditions raisonnables de sécurité l'ensemble des données collectées
		pour une durée de : 2 ans.
		<br />
		La collecte et le traitement des données répondent aux finalités suivantes :
		<br />
		connexion au site
		<br />
		Les traitements de données effectués sont fondés sur les bases légales suivantes
		:
		<br />
		consentement de l'utilisateur
		<br /><br />
		B. TRANSMISSION DES DONNÉES A DES TIERS
		<br /><br />
		Les données à caractère personnel collectées par le site ne sont transmises à
		aucun tiers, et ne sont traitées que par l'éditeur du site.
		<br /><br />
		C. HÉBERGEMENT DES DONNÉES
		<br /><br />
		Le site Replikas est hébergé par : IONOS SARL, dont le siège est situé à l'adresse
		ci-après :
		<br />
		7 PL DE LA GARE 57200 SARREGUEMINES
		<br />
		L'hébergeur peut être contacté au numéro de téléphone suivant : 0970 808 911.
		<br />
		Les données collectées et traitées par le site sont transférées vers le(s) pays
		suivant(s) : Allemagne.
		<br /><br />
		<h1>ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNÉES</h1>
		<br />
		A. LE RESPONSABLE DU TRAITEMENT DES DONNÉES
		<br /><br />
		Le responsable du traitement des données à caractère personnel est : Cédric CHAMPEIX.
		Il peut être contacté de la manière suivante :
		<br />
		par téléphone au 0637492846, du lundi au vendredi de 13h à 17h
		<br />
		Le responsable du traitement des données est chargé de déterminer les finalités
		et les moyens mis au service du traitement des données à caractère personnel.
		<br /><br />
		B. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES
		<br />
		Le responsable du traitement s'engage à protéger les données à caractère personnel
		collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en
		ait été informé et à respecter les finalités pour lesquelles ces données ont
		été collectées.
		<br />
		De plus, le responsable du traitement des données s'engage à notifier l'utilisateur
		en cas de rectification ou de suppression des données, à moins que cela n'entraîne
		pour lui des formalités, coûts et démarches disproportionnés.
		<br />
		Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère
		personnel de l'utilisateur est compromise, le responsable du traitement s'engage
		à informer l'utilisateur par tout moyen.
		<br /><br />
		<h1>ARTICLE 5 : DROITS DE L'UTILISATEUR</h1>
		<br />
		Conformément à la réglementation concernant le traitement des données à caractère
		personnel, l'utilisateur possède les droits ci-après énumérés.
		<br />
		Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur
		est tenu de lui communiquer : ses prénom et nom ainsi que son adresse e-mail,
		et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.
		<br />
		Le responsable du traitement des données est tenu de répondre à l'utilisateur
		dans un délai de 30 (trente) jours maximum.
		<br /><br />
		A. PRÉSENTATION DES DROITS DE L'UTILISATEUR EN MATIÈRE DE COLLECTE ET TRAITEMENT
		DE DONNÉES
		<br /><br />
		a. Droit d'accès, de rectification et droit à l'effacement
		<br />
		L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander
		la suppression des données le concernant, en respectant la procédure ci-après
		énoncée :
		<br />
		L'utilisateur doit envoyer un e-mail au responsable du traitement des données
		personnelles, en précisant l'objet de sa demande, à l'adresse e-mail : contact.replikas@gmail.com.
		<br />
		S'il en possède un, l'utilisateur a le droit de demander la suppression de son
		espace personnel en suivant la procédure suivante :
		<br />
		L'utilisateur doit envoyer un e-mail au responsable du traitement en précisant
		l'email utilisé pour son espace personnel. La demande sera traitée dans un délai
		de 10 jours ouvrés.
		<br /><br />
		b. Droit à la portabilité des données
		<br />
		L'utilisateur a le droit de demander la portabilité de ses données personnelles,
		détenues par le site, vers un autre site, en se conformant à la procédure ci-après
		:
		<br />
		L'utilisateur doit faire une demande de portabilité de ses données personnelles
		auprès du responsable du traitement des données, en envoyant un e-mail à l'adresse
		prévue ci-dessus.
		<br /><br />
		c. Droit à la limitation et à l'opposition du traitement des données
		<br />
		L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement
		de ses données par le site, sans que le site ne puisse refuser, sauf à démontrer
		l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts
		et les droits et libertés de l'utilisateur.
		<br />
		Afin de demander la limitation du traitement de ses données ou de formuler une
		opposition au traitement de ses données, l'utilisateur doit suivre la procédure
		suivante :
		<br />
		L'utilisateur doit faire une demande de limitation au traitement de ses données
		personnelles par e-mail auprès du responsable du traitement des données.
		<br /><br />
		d. Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé
		automatisé
		<br />
		Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit
		de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé
		si la décision produit des effets juridiques le concernant, ou l'affecte de manière
		significative de façon similaire.
		<br /><br />
		e. Droit de déterminer le sort des données après la mort
		<br />
		Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir
		de ses données collectées et traitées s'il décède, conformément à la loi n°2016-1321
		du 7 octobre 2016.
		<br /><br />
		f. Droit de saisir l'autorité de contrôle compétente
		<br />
		Dans le cas où le responsable du traitement des données décide de ne pas répondre
		à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette
		décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés
		ci-dessus, il est en droit de saisir la CNIL (Commission Nationale de l'Informatique
		et des Libertés, https://www.cnil.fr) ou tout juge compétent.
		<br /><br />
		<h1>ARTICLE 6 : UTILISATION DES FICHIERS "COOKIES"</h1>
		<br />
		Le site a éventuellement recours aux techniques de "cookies".
		<br />
		Un "cookie" est un fichier de petite taille (moins de 4 ko), stocké par le site
		sur le disque dur de l'utilisateur, contenant des informations relatives aux
		habitudes de navigation de l'utilisateur.
		<br />
		Ces fichiers lui permettent de traiter des statistiques et des informations sur
		le trafic, de faciliter la navigation et d'améliorer le service pour le confort
		de l'utilisateur.
		<br />
		Pour l'utilisation de fichiers "cookies" impliquant la sauvegarde et l'analyse
		de données à caractère personnel, le consentement de l'utilisateur est nécessairement
		demandé.
		<br />
		Ce consentement de l'utilisateur est considéré comme valide pour une durée de
		6 (six) mois maximum. A l'issue de cette période, le site demandera à nouveau
		l'autorisation de l'utilisateur pour enregistrer des fichiers "cookies" sur son
		disque dur.
		<br /><br />
		a. Opposition de l'utilisateur à l'utilisation de fichiers "cookies" par le site
		<br />
		Les cookies non essentiels au fonctionnement du site ne sont déposés sur le terminal
		de l'utilisateur qu'après avoir obtenu son consentement. L'utilisateur peut retirer
		son consentement à tout moment, de la manière suivante :
		<br />
		Veuillez cliquer sur le bouton retirer le consentement.
		<br />
		Veuillez vous rendre sur la page de paramétrage des cookies en cliquant ici.
		<br />
		De manière plus générale, il est porté à la connaissance de l'utilisateur qu'il
		peut s'opposer à l'enregistrement de ces fichiers "cookies" en configurant son
		logiciel de navigation.
		<br />
		Pour information, l'utilisateur peut trouver aux adresses suivantes les démarches
		à suivre afin de configurer son logiciel de navigation pour s'opposer à l'enregistrement
		des fichiers "cookies" :
		<br />
		<ul>
			<li>Chrome : https://support.google.com/accounts/answer/61416?hl=fr</li>
			<li>
				Firefox :
				https://support.mozilla.org/fr/kb/enable-and-disable-cookies-websitepreferences
			</li>
			<li>Safari : http://www.apple.com/legal/privacy/fr-ww/</li>
			<li>
				Internet Explorer :
				https://support.microsoft.com/fr-fr/help/17442/windowsinternet-explorer-delete-manage-cookies
			</li>
			<li>Opera : http://www.opera.com/help/tutorials/security/cookies/</li>
		</ul>
		Dans le cas où l'utilisateur décide de désactiver les fichiers "cookies", il
		pourra poursuivre sa navigation sur le site. Toutefois, tout dysfonctionnement
		du site provoqué par cette manipulation ne pourrait être considéré comme étant
		du fait de l'éditeur du site.
		<br /><br />
		b. Description des fichiers "cookies" utilisés par le site
		<br />
		L'éditeur du site attire l'attention de l'utilisateur sur le fait que les cookies
		suivants sont utilisés lors de sa navigation :
		<br />
		- Cookie : token, Emetteur : Replikas,
		<br />
		Finalité : connexion au site.
		<br /><br />
		<h1>
			ARTICLE 7 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITÉ
		</h1>
		<br />
		La présente politique de confidentialité peut être consultée à tout moment à
		l'adresse ci-après indiquée :
		<br />
		https://replikas.gasdev.fr/privacyPolicy
		<br />
		L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité
		avec le droit en vigueur.
		<br />
		Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette
		politique de confidentialité afin de se tenir informé des derniers changements
		qui lui seront apportés.
		<br />
		Toutefois, en cas de modification substantielle de cette politique, l'utilisateur
		en sera informé de la manière suivante :
		<br />
		Par e-mail à l'adresse communiquée par l'utilisateur.
		<br />
		Il est porté à la connaissance de l'utilisateur que la dernière mise à jour de
		la présente politique de confidentialité est intervenue le : 11/01/2023.
		<br /><br />
		<h1>
			ARTICLE 8 : ACCEPTATION PAR L'UTILISATEUR DE LA POLITIQUE DE
			CONFIDENTIALITÉ
		</h1>
		<br />
		En naviguant sur le site, l'utilisateur atteste avoir lu et compris la présente
		politique de confidentialité et en accepte les conditions, en ce qui concerne
		plus particulièrement la collecte et le traitement de ses données à caractère
		personnel, ainsi que l'utilisation de fichiers "cookies".
	</main>
</Layout>
<style>
	main {
		background-color: var(--theme-secondary);
		border-radius: 5px;
		padding: 1.5rem 3rem;
		font-size: 1.25rem;
	}
	h1 {
		text-align: center;
	}
</style>
