---
---

<footer>
	<div id="replika-info">
		<h1>Replikas</h1>
		<a class="hoverColor" href="/aboutus"> À propos de Replikas</a>
		<a class="hoverColor" href="/contact">Nous contacter</a>
		<a class="hoverColor" href="/privacy-policy">
			Notre politique de confidentialité</a
		>
	</div>
	<div id="replika-socials">
		<h1>Nos réseaux</h1>
		<div class="hbox">
			<a
				class="socials"
				href="https://fr-fr.facebook.com/DonaldTrump"
				target="_blank"
				><img
					src="/img/icons/socials/facebook.svg"
					alt="Facebook"
					width="48"
					height="48"
				/>
			</a>
			<a class="socials" href="https://twitter.com/elonmusk" target="_blank"
				><img
					src="/img/icons/socials/twitter.svg"
					alt="Twitter"
					width="48"
					height="48"
				/>
			</a>
			<a
				class="socials"
				href="https://www.instagram.com/hugodecrypte"
				target="_blank"
				><img
					src="/img/icons/socials/instagram.svg"
					alt="Instagram"
					width="48"
					height="48"
				/>
			</a>
			<a
				class="socials"
				href="https://fr.linkedin.com/in/herv%C3%A9-blanchon-4851b02"
				target="_blank"
				><img
					src="/img/icons/socials/linkedin.svg"
					alt="Linkedin"
					width="48"
					height="48"
				/>
			</a>
			<a class="socials" href="https://r.mtdv.me/replikas" target="_blank"
				><img
					src="/img/icons/socials/youtube.svg"
					alt="Youtube"
					width="48"
					height="48"
				/>
			</a>
		</div>
	</div>
	<div id="replikas-team">
		<img
			src="/favicon.svg"
			width="24px"
			height="24px"
			alt="Replikas"
			class="filter-whitesmoke"
		/>
		<h1>Replikas team</h1>
	</div>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		background-color: var(--theme-secondary);

		flex-grow: 0;
		flex-shrink: 0;

		border-top: 1px solid #222;
	}

	footer h1 {
		font-size: 1.5rem;
		margin: 1rem;
		font-weight: bold;
	}

	footer section {
		margin: 0.5rem;
	}

	footer #replikas-team {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	footer #replikas-team img {
		width: 1.5rem;
		margin-right: -0.5rem;
	}

	/*------------Pages links-------------*/
	#replika-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#replika-info a {
		font-size: 1rem;
		margin: 0.4rem;
		text-decoration: none;
		color: var(--theme-text);
		transition: 0.5s ease;
	}

	.hoverColor:hover {
		transition: 0.5s ease;
		color: var(--theme-button) !important;
		scale: 1.2;
	}

	/*---------------Socials-----------------*/
	#replika-socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.socials {
		transition: 0.5s ease;

		width: 48px;
		height: 48px;
	}

	.socials:hover {
		scale: 1.2;
		transition: 0.5s ease;
	}
</style>
